<h1>Data from the Register Form</h1>
<hr><br>
<div> {{ variable2 }} </div>
<hr><br>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for item in variable1 %}
        <tr>
            {% for item1 in item %}
            <td>{{ item1 }}</td>
            {% endfor %}
        </tr>
        {% endfor %}  
    </tbody>
</table>